@using salonlardapper.Models 
@model IEnumerable<Gorevliclass>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(i => i.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesaiDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesaiDurumu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GorevliNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GorevliNo })
        </td>
    </tr>
}

</table>
