@model IEnumerable<salonlardapper.Models.Malzemeclass>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeTutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fayda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acıklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeTutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fayda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acıklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MalzemeNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MalzemeNo })
        </td>
    </tr>
}

</table>
